name: Build and test Restylers

on:
  push:
    branches-ignore: main
    paths-ignore:
      - ".hadolint"
      - ".restyled.yaml"
      - "LICENSE"
      - "README.md"
      - "renovate.json"

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        restyler:
          - astyle
          - autopep8
          - black
          - brittany
          - clang-format
          - dfmt
          - dhall-format
          - dotnet-format
          - elm-format
          - fantomas
          - gn
          - gofmt
          - google-java-format
          - hindent
          - hlint
          - isort
          - jdt
          - jq
          - ormolu
          - pg_format
          - php-cs-fixer
          - prettier
          - prettier-json
          - prettier-markdown
          - prettier-ruby
          - prettier-yaml
          - reorder-python-imports
          - rubocop
          - rustfmt
          - shellharden
          - shfmt
          - stylish-haskell
          - terraform
          - whitespace
          - yapf

    steps:
      - uses: actions/checkout@v2
      - uses: satackey/action-docker-layer-caching@v0.0.11
        continue-on-error: true
        with:
          key: docker-layer-caching-${{ matrix.restyler }}-{hash}
          restore-keys: docker-layer-caching-${{ matrix.restyler }}-

      - name: Setup
        run: |
          docker pull hadolint/hadolint
          docker pull restyled/sdk:main

      - name: Build
        run: |
          docker run --rm \
            --env "REALPWD=$PWD" \
            --volume "$PWD":/code \
            --volume /tmp:/tmp \
            --volume /var/run/docker.sock:/var/run/docker.sock \
            restyled/sdk:main restylers ${{ matrix.restyler }}/info.yaml

  status:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - run: echo "Job to act as our overall required PR Status"
